<div class="container">




<p class="text-justify font-weight-bold"> 
  Welcome to Cadencia Cycling Club (CCC). CCC is a site for cyclists world wide to connect and share their ride data. Upon creating an account, cyclists can upload their ride data (distance traveled in kilometers, minutes ridden, and date of ride). CCC will then take that information, calculate the speed of your ride in kilometers per hour, and then post it to the rides board. Cyclists can get in contact with each other by email. The email address of each cyclist is listed in their user profile.
</p>

<img src="http://cuadro.cc/wp-content/uploads/2019/04/IMG_6455-1200x600.jpg" alt="..." class="img-thumbnail">
<div>