<!DOCTYPE html>
<html>
<div class="container">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>FinalProject</title>
    <%= csrf_meta_tags %>
    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">
    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <h1> Ride with Cadencia Cycling Club! </h1>
   
<%####%>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">CCC Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if @current_user == nil %>    
      <li class="nav-item active">
        <a class="nav-link" href="/user_sign_up">Sign up <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/user_sign_in">Sign in <span class="sr-only">(current)</span></a>
      </li>
      <% else%>      
      <li class="nav-item active">
        <a class="nav-link" href="/user_sign_out">Sign out <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/edit_user_profile">Edit profile <span class="sr-only">(current)</span></a>
      </li>     
      <li class="nav-item active">
        <a class="nav-link" href="/rides">Rides</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/users">Users</a>
      </li>
      <% end %>
      </li>
    </ul>
  </div>
</nav>
<%####%> 
 
            <%= yield %>
           
           <div class="container"> 
           Copyright © 2020 Yepes, LLC. All rights reserved.
           </div>
          </body>
          </div>
        </html>
